# Terraform
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
.terraform/
.terraform.lock.hcl
**/*.tfvars
**/.terraform/

# Environment files
envs/**/terraform.tfvars
envs/**/.terraform/

.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log